@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*Edit Style ALL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

/*Edit Style within the List and Anchor Tag in the Navigation Bar */
li,a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #30475E;
    text-decoration: none;
}

/*Edit Style in all of HEADER which is the Navigation Bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor:pointer;
}

/*Edit Style in class nav_links which is the Navigation Bar */
.nav__links{
    list-style: none;
}
.nav__links :hover {
    color: #F05454;
}
.nav__links li {
    display: inline-block;
    padding: 0px 10px;
}

/*Edit Style in class fixed__footer where PHP function for date is used */
.fixed__footer {
    position: fixed;
    bottom: 0px;
    right: 10%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #121212;
    text-decoration: none;
}

/*Shoe List Style Sheet Here*/
.list_table {
    position: relative;
    justify-content: right;
    padding: 20px 4px;
    float: right;
    width: 80%;
}
/*
.list_table h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #30475E;
}
*/
.list_table table{
    border: 1px solid black;
    width: 80%;
    border-collapse: collapse;
    text-align: center;
}

.list_table th {
    background-color: #30475E;
    color: #F05454;
    border: 1px solid black;
    height: 50px;
}

.list_table td {
    border: 1px solid black;
    height: 50px;
}

.product_number_input {
    position: fixed;
    bottom: 50px;
    justify-content: bottom;
    float: bottom;
    right: 50%;
    width: 30%;
}

.product_number_input p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #30475E;
}

.product_number_input input[type=text] {
    border: 3px solid black;
    border-color: #F05454;
    border-radius: 5px;
    width: 225px;
    height: 35px;
}

.product_number_input input[type=submit] {
    border: 3px solid black;
    border-radius: 5px;
    width: 225px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #F05454;
    background-color: #30475E;
}

/* Error message style */
.product_number_input span {
    color: red;
    font-family: 'Montserrat', sans-serif;
}